<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 20.0382%; top: 30.5075%; width: 77.0355%; height: 7.30435%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right;position:11">
    <p><strong>Simple Attribute</strong> is composed of a single component with an independent existence. This attribute cannot be further subdivided into smaller components.</p>
</div>
<div id="container-8" class="moveable" style="left: 20.0382%; top: 39.2175%; width: 77.0355%; height: 7.30435%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:1;label:keterangan 0;duration:0.5;target:container-8;predefined:Fly in from right;position:+=1">
    <p><strong>Composite Attribute</strong> is composed of multiple components, each with an independent existence.</p>
</div>
<div id="container-9" class="moveable" style="left: 20.0382%; top: 45.5206%; width: 77.0355%; height: 7.30435%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:2;label:keterangan 1;duration:0.5;target:container-9;predefined:Fly in from right;position:+=1.5">
    <p><strong>Single-valued Attribute</strong> holds a single value for each occurrence of an entity type.</p>
</div>
<div id="container-a" class="moveable" style="left: 20.0382%; top: 51.9011%; width: 77.0355%; height: 7.30435%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:3;label:keterangan 2;duration:1;target:container-a;predefined:Fly in from right;position:+=1.5">
    <p><strong>Multi-valued Attribute</strong> holds multiple values for each occurrence of an entity type.</p>
</div>
<div id="container-b" class="moveable" style="left: 20.0382%; top: 58.0491%; width: 77.0355%; height: 7.30435%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:4;label:keterangan 3;duration:1;target:container-b;predefined:Fly in from right;position:+=1.5">
    <p><strong>Derived Attribute</strong> represents a value that is derivable from value of a related attribute, or set of attributes, not necessarily in the same entity type. </p>
</div>
<div id="container-h" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Attributes
        <br>
    </p>
</div>
<div id="container-d" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-c" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/binary-relationship" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Relationship</a></span></p>
</div>
<div id="container-e" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '11');
tl.addLabel('keterangan 0');
tl.from('#container-8', 0.5, {opacity:'0',left:'100%'}, '+=1');
tl.addLabel('keterangan 1');
tl.from('#container-9', 0.5, {opacity:'0',left:'100%'}, '+=1.5');
tl.addLabel('keterangan 2');
tl.from('#container-a', 1, {opacity:'0',left:'100%'}, '+=1.5');
tl.addLabel('keterangan 3');
tl.from('#container-b', 1, {opacity:'0',left:'100%'}, '+=1.5');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>