<div id="container-2" class="moveable" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 26.4043%; top: 30.6603%; width: 14.405%; height: 40.6957%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="position:2;predefined:Zoom in;target:container-7;duration:0.5;label:entity;index:0;scale:0">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Customer</span></p>
    <hr>
    <p style="text-align: left;" data-mce-style="text-align: left;">&nbsp;custID
        <br>&nbsp;custName
        <br>&nbsp;address
        <br>&nbsp; &nbsp;street
        <br>&nbsp; &nbsp;city
        <br>&nbsp;telNo [1..3]
        <br>&nbsp;email</p>
</div>
<div id="container-n" class="moveable" style="left: 40.9233%; top: 40.9021%; width: 9.54617%; height: 13.8201%; opacity: 1;" spellcheck="false" data-options="left:26%;opacity:0;index:1;label:relation-places;duration:0.5;ease:null;target:container-n">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: inherit;" data-mce-style="font-size: inherit;"><strong>Places&nbsp;</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">&nbsp;
        <br>
    </p>
    <div id="container-p" class="moveable" style="left: 77.6383%; top: -3.31663%; width: 11.4754%; height: 27.3585%;" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
</div>
<div id="container-8" class="moveable" style="left: 50.6442%; top: 30.356%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="predefined:Zoom in;target:container-8;duration:0.5;label:entity 0;index:2;scale:0">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Order</span></p>
    <hr>
    <p>&nbsp;orderID&nbsp;
        <br>&nbsp;orderDate
        <br>&nbsp;custID
        <br>&nbsp;amount</p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-r" class="moveable" style="left: 65.1677%; top: 40.8022%; width: 10.3286%; height: 14.472%; opacity: 1;" spellcheck="false" data-options="left:50%;opacity:0;index:3;label:relation-consist-of;duration:0.5;ease:null;target:container-r">
    <p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: inherit;" data-mce-style="font-size: inherit;"><strong>&nbsp;Consist of</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">&nbsp;
        <br>
    </p>
    <div id="container-t" class="moveable" style="left: 82%; top: -4%; width: 11.1111%; height: 27.7108%;" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
</div>
<div id="container-b" class="moveable" style="left: 75.5725%; top: 30.3016%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="predefined:Zoom in;target:container-b;duration:0.5;label:entity 1;index:4;scale:0">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Product</span></p>
    <hr>
    <p>&nbsp;productID
        <br>&nbsp;productName
        <br>&nbsp;price
        <br>&nbsp;availability</p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-a" class="moveable tooltip" title="Primary key" style="left: 26.8218%; top: 43.163%; width: 13.3612%; height: 3.47826%; background-color: rgb(217, 252, 204); opacity: 1;" spellcheck="false" data-options="position:10;predefined:Fade in;target:container-a;duration:1;label:pk;index:5;opacity:0">
    <p><strong>custID {PK}</strong>
        <br>
    </p>
</div>
<div id="container-f" class="moveable tooltip" title="Primary key" style="left: 51.0341%; top: 42.8071%; width: 13.3612%; height: 3.47826%; background-color: rgb(217, 252, 204); opacity: 1;" spellcheck="false" data-options="position:-=1;predefined:Fade in;target:container-f;duration:1;label:pk 0;index:6;opacity:0">
    <p><strong>orderID {PK}</strong>
        <br>
    </p>
</div>
<div id="container-c" class="moveable tooltip" title="Foreign key" style="left: 51.0429%; top: 51.0002%; width: 13.3612%; height: 3.47826%; opacity: 1; background-color: rgb(189, 252, 250);" spellcheck="false" data-options="position:14;predefined:Fade in;target:container-c;duration:1;label:container-c;index:8;opacity:0">
    <p><strong>custID</strong>
        <br>
    </p>
</div>
<div id="container-h" class="moveable tooltip" title="Composite attribute" style="left: 26.7691%; top: 51.094%; width: 13.3612%; height: 10.7826%; opacity: 1; background-color: rgb(252, 252, 252);" spellcheck="false" data-options="position:20;predefined:Fade in;target:container-h;duration:0.5;label:address;index:9;opacity:0">
    <p><strong>address<br>&nbsp; street<br>&nbsp; city</strong></p>
</div>
<div id="container-e" class="moveable tooltip" title="Single and multivalued attribute" style="left: 26.7642%; top: 62.2454%; width: 13.3612%; height: 3.82609%; background-color: rgb(252, 252, 252); opacity: 1;" spellcheck="false" data-options="predefined:Fade in;target:container-e;duration:0.5;label:tel;index:10;opacity:0">
    <p><strong>telNo [1..3]</strong></p>
</div>
<div id="container-j" class="moveable tooltip" title="Simple attribute" style="left: 76.0307%; top: 50.7517%; width: 13.3612%; height: 3.82609%; background-color: rgb(252, 252, 252); opacity: 1;" spellcheck="false" data-options="predefined:Fade in;target:container-j;duration:0.5;label:price;index:11;opacity:0">
    <p><strong>price</strong></p>
</div>
<div id="container-k" class="moveable tooltip" title="Primary key" style="left: 76.0429%; top: 43.0492%; width: 13.3612%; height: 3.65217%; background-color: rgb(217, 252, 204); opacity: 1;" spellcheck="false" data-options="opacity:0;index:7;label:pk 1;duration:1;target:container-k;predefined:Fade in;position:10">
    <p><strong>productID {PK}</strong>
        <br>
    </p>
</div>
<div id="container-d" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Attributes
        <br>
    </p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-l" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/binary-relationship" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Relationship</a></span></p>
</div>
<div id="container-v" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('entity');
tl.from('#container-7', 0.5, {scale:'0'}, '2');
tl.addLabel('relation-places');
tl.from('#container-n', 0.5, {left:'26%',opacity:'0',ease:'null'}, '+=0');
tl.addLabel('entity 0');
tl.from('#container-8', 0.5, {scale:'0'}, '+=0');
tl.addLabel('relation-consist-of');
tl.from('#container-r', 0.5, {left:'50%',opacity:'0',ease:'null'}, '+=0');
tl.addLabel('entity 1');
tl.from('#container-b', 0.5, {scale:'0'}, '+=0');
tl.addLabel('pk');
tl.from('#container-a', 1, {opacity:'0'}, '10');
tl.addLabel('pk 0');
tl.from('#container-f', 1, {opacity:'0'}, '-=1');
tl.addLabel('pk 1');
tl.from('#container-k', 1, {opacity:'0'}, '10');
tl.addLabel('container-c');
tl.from('#container-c', 1, {opacity:'0'}, '14');
tl.addLabel('address');
tl.from('#container-h', 0.5, {opacity:'0'}, '20');
tl.addLabel('tel');
tl.from('#container-e', 0.5, {opacity:'0'}, '+=0');
tl.addLabel('price');
tl.from('#container-j', 0.5, {opacity:'0'}, '+=0');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>