<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 19.9598%; top: 30.5279%; width: 56.5831%; height: 11.4883%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right;position:9">
    <p><strong><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Binary Association</span> </strong>that contains 2 entities</p>
</div>
<div id="container-8" class="moveable" style="left: 27.7013%; top: 42.9871%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="opacity:0;top:100%;index:1;label:container-8;duration:1;target:container-8;predefined:Fly in from bottom;position:18">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Customer</span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;"></span>
        <br>
    </p>
</div>
<div id="container-a" class="moveable" style="left: 41.9428%; top: 48.5679%; width: 23.382%; height: 13.913%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:3;label:container-a;duration:1;target:container-a;predefined:Fade in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;"><strong>Places&nbsp;</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;"><strong></strong></span></p>
    <div id="container-f" class="moveable" style="left: 66.7201%; top: 4.29688%; width: 5.80357%; height: 32.5%;">
        <img src="images/arrow-right.svg" alt="arrow-right.svg">
    </div>
</div>
<div id="container-9" class="moveable" style="left: 65.4798%; top: 43.0761%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="opacity:0;top:100%;index:2;label:container-9;duration:1;target:container-9;predefined:Fly in from bottom;position:-=.3">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Order</span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-e" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Relationship</p>
</div>
<div id="container-c" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-d" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '9');
tl.addLabel('container-8');
tl.from('#container-8', 1, {opacity:'0',top:'100%'}, '18');
tl.addLabel('container-9');
tl.from('#container-9', 1, {opacity:'0',top:'100%'}, '-=.3');
tl.addLabel('container-a');
tl.from('#container-a', 1, {opacity:'0'}, '+=0');

interactiveApp.outAnim = null;
</script>