<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-8" class="moveable tooltip" title="Each branch is managed by one member of staff" style="left: 27.7013%; top: 42.9871%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="opacity:0;top:100%;index:1;label:container-8;duration:1;target:container-8;predefined:Fly in from bottom">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Staff</span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">staffNo</p>
</div>
<div id="container-a" class="moveable" style="left: 41.9428%; top: 48.5679%; width: 23.382%; height: 13.913%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:3;label:container-a;duration:1;target:container-a;predefined:Fade in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1"><strong>Manages</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">&nbsp;
        <br>
    </p>
    <div id="container-f" class="moveable" style="left: 74%; top: 5.66406%; width: 5.80357%; height: 32.5%;" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
    <div id="container-e" class="moveable" style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:4;label:one only;duration:1;target:container-e;predefined:Zoom in">
        <p class="tooltip" title="Multiplicity">1..1
            <br>
        </p>
    </div>
    <div id="container-j" class="moveable" style="left: 87.5698%; top: 63.5547%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:5;label:zero or one;duration:1;target:container-j;predefined:Zoom in">
        <p class="tooltip" title="Multiplicity">0..1
            <br>
        </p>
    </div>
</div>
<div id="container-9" class="moveable tooltip" title="A member of staff can manage zero or one branch" style="left: 65.4798%; top: 43.0761%; width: 14.405%; height: 29.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="opacity:0;top:100%;index:2;label:container-9;duration:1;target:container-9;predefined:Fly in from bottom;position:-=.3">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Branch</span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">branchNo</p>
</div>
<div id="container-7" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-c" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/binary-relationship" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Relationship</a></span></p>
</div>
<div id="container-b" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Multiplicity</p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('container-8');
tl.from('#container-8', 1, {opacity:'0',top:'100%'}, '+=0');
tl.addLabel('container-9');
tl.from('#container-9', 1, {opacity:'0',top:'100%'}, '-=.3');
tl.addLabel('container-a');
tl.from('#container-a', 1, {opacity:'0'}, '+=0');
tl.addLabel('one only');
tl.from('#container-e', 1, {scale:'0'}, '+=0');
tl.addLabel('zero or one');
tl.from('#container-j', 1, {scale:'0'}, '+=0');

interactiveApp.outAnim = null;
</script>