<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 19.7566%; top: 26.1994%; width: 68.1818%; height: 8.09399%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right">
    <p><span style="font-size: 150%;" data-mce-style="font-size: 150%;"><strong>Multiplicity</strong></span> is the minimum and maximum allowed members of the set relationship</p>
</div>
<div id="container-a" class="moveable" style="left: 19.6341%; top: 33.4775%; width: 31.0345%; height: 60.0522%; opacity: 1; background-color: rgb(133, 190, 87);" spellcheck="false" data-options="opacity:0;index:3;label:selected;duration:1;target:container-a;predefined:Fade in;position:18">
    <p>
        <br>
    </p>
</div>
<div id="container-9" class="moveable" style="left: 19.6855%; top: 27.1785%; width: 67.0846%; height: 65.7963%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:1;label:tabel;duration:1;target:container-9;predefined:Fade in;position:13">
    <p>
        <br>
    </p>
    <table class="mce-item-table" style="width: 100%;/* padding: 2%; */" data-mce-style="width: 100%; padding: 2%;">
        <tbody>
            <tr>
                <th>
                    <br>
                </th>
                <th style="width: 27%;" data-mce-style="width: 27%;">UML
                    <br>
                </th>
                <th style="width: 27%;" data-mce-style="width: 27%;">Chen
                    <br>
                </th>
                <th style="width: 27%;" data-mce-style="width: 27%;">Crowsfoot
                    <br>
                </th>
            </tr>
            <tr>
                <td style="text-align: right;/* padding: 1%; */" data-mce-style="text-align: right;">
                    <p>one and only one&nbsp;</p>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/9273484f-ee80-4599-9911-fd0dc1963371.svg" alt="UML multiplicity one and only one notation">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/32f60b67-20d5-4533-a167-0156b9e6e690.svg" alt="Chen multiplicity one or one only symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/32f60b67-20d5-4533-a167-0156b9e6e690.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/aea8cb18-8c15-4162-89aa-483e887e8b50.svg" alt="Crowsfoot multiplicity one and one only symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/aea8cb18-8c15-4162-89aa-483e887e8b50.svg" caption="false">
                    <br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;" data-mce-style="text-align: right;">
                    <p>one or more&nbsp;</p>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/e4d58b9e-c64f-408a-bce5-720b67273c99.svg" alt="UML multiplicty one or more symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/e4d58b9e-c64f-408a-bce5-720b67273c99.svg" caption="false"></td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" alt="Chen multiplicity one or more symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/80672441-a2db-4489-a80a-e584ac4ea962.svg" alt="Crowsfoot multiplicity one or more symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/80672441-a2db-4489-a80a-e584ac4ea962.svg" caption="false">
                    <br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;" data-mce-style="text-align: right;">
                    <p>any number&nbsp;</p>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/7a3ad284-e6fc-40d0-bf09-1fd8acf209b2.svg" alt="UML multiplicty any number symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/7a3ad284-e6fc-40d0-bf09-1fd8acf209b2.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" alt="Chen multiplicity any number symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a43da4cc-6d18-4c8c-b600-35f1bbae5d1c.svg" alt="Crowsfoot multiplicity any number symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a43da4cc-6d18-4c8c-b600-35f1bbae5d1c.svg" caption="false">
                    <br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;" data-mce-style="text-align: right;">
                    <p>optional&nbsp;</p>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/ff5df126-ce47-49c3-beef-85aca41a7be4.svg" alt="UML multiplicty optional symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/ff5df126-ce47-49c3-beef-85aca41a7be4.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" alt="Chen multiplicity optional symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/3b28374a-fb48-4ea1-bbd9-743aa786b349.svg" caption="false">
                    <br>
                </td>
                <td><img src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/d0f05246-5443-4eb2-8e51-786726a1e36d.svg" alt="Crowsfoot multiplicity optional symbol" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/d0f05246-5443-4eb2-8e51-786726a1e36d.svg" caption="false">
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="container-c" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Multiplicity</p>
</div>
<div id="container-8" class="moveable" style="left: 32.9789%; top: 93.106%; width: 46.4468%; height: 4.86957%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:2;label:ket table;duration:1;target:container-8;predefined:Fade in">
    <p>*Notations for showing cardinality (multiplicity)</p>
</div>
<div id="container-6" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-b" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/binary-relationship" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Relationship</a></span></p>
</div>
<div id="container-e" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '+=0');
tl.addLabel('tabel');
tl.from('#container-9', 1, {opacity:'0'}, '13');
tl.addLabel('ket table');
tl.from('#container-8', 1, {opacity:'0'}, '+=0');
tl.addLabel('selected');
tl.from('#container-a', 1, {opacity:'0'}, '18');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>