<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-k" class="moveable" style="left: 46.5938%; top: 59.0266%; width: 36.5344%; height: 37.3913%; opacity: 1; background-color: rgb(133, 190, 87);" spellcheck="false" data-options="predefined:Fade in;target:container-k;duration:1;label:area;index:8;opacity:0">
    <p>
        <br>
    </p>
</div>
<div id="container-7" class="moveable" style="left: 26.0286%; top: 30.1811%; width: 14.4201%; height: 41.5144%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="scale:0;index:0;label:entity;duration:0.5;target:container-7;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Customer</span></p>
    <hr>
    <p style="text-align: left;" data-mce-style="text-align: left;">&nbsp;custID
        <br>&nbsp;custName
        <br>&nbsp;address
        <br>&nbsp; &nbsp;street
        <br>&nbsp; &nbsp;city
        <br>&nbsp;telNo [1..3]
        <br>&nbsp;email</p>
</div>
<div id="container-c" class="moveable" style="left: 40.5043%; top: 40.8533%; width: 9.91649%; height: 13.7391%; opacity: 1;" spellcheck="false" data-options="target:container-c;ease:null;duration:0.5;label:relation-places;index:1;left:26%;opacity:0">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: inherit;" data-mce-style="font-size: inherit;"><strong>Places&nbsp;</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">&nbsp;
        <br>
    </p>
    <div id="container-m" class="moveable" style="left: 77.6383%; top: -3.31663%; width: 11.4754%; height: 27.3585%;" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
    <div id="container-l" class="moveable" style="left: 2.87829%; top: 54.6677%; width: 33.6842%; height: 27.8481%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>1
            <br>
        </p>
    </div>
    <div id="container-w" class="moveable" style="left: 70.5757%; top: 55.0633%; width: 34.7368%; height: 30.3797%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>0..*
            <br>
        </p>
    </div>
</div>
<div id="container-8" class="moveable" style="left: 50.2645%; top: 29.9078%; width: 14.4201%; height: 29.5039%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="scale:0;index:2;label:entity 0;duration:0.5;target:container-8;predefined:Zoom in;position:entity">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Order</span></p>
    <hr>
    <p>&nbsp;orderID&nbsp;
        <br>&nbsp;orderDate
        <br>&nbsp;custID
        <br>&nbsp;amount</p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-14" class="moveable" style="left: 64.6111%; top: 40%; width: 15.334%; height: 12%; background-color: rgb(133, 190, 87); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="target:container-14;ease:Elastic.easeOut;duration:1;label:focus-order-product;index:4;scale:0;opacity:0">
    <p>
        <br>
    </p>
</div>
<div id="container-o" class="moveable" style="left: 64.7492%; top: 40.7527%; width: 10.3286%; height: 14.472%; opacity: 1;" spellcheck="false" data-options="target:container-o;ease:null;duration:0.5;label:relation-consist1;index:3;opacity:0;left:50%">
    <p style="text-align: left;" data-mce-style="text-align: left;"><span style="font-size: inherit;" data-mce-style="font-size: inherit;"><strong>&nbsp;Consist of</strong></span></p>
    <hr>
    <p style="text-align: center;" data-mce-style="text-align: center;">&nbsp;
        <br>
    </p>
    <div id="container-q" class="moveable" style="left: 82%; top: -4%; width: 11.1111%; height: 27.7108%;" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
    <div id="container-n" class="moveable" style="left: 5.39773%; top: 49.8117%; width: 29.2929%; height: 31.3253%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>0..*
            <br>
        </p>
    </div>
    <div id="container-y" class="moveable" style="left: 72.7746%; top: 49.1905%; width: 29.2929%; height: 34.9398%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>1..*
            <br>
        </p>
    </div>
</div>
<div id="container-b" class="moveable" style="left: 75.191%; top: 29.8711%; width: 14.405%; height: 29.2174%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="scale:0;index:5;label:entity 1;duration:0.5;target:container-b;predefined:Zoom in;position:entity">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Product</span></p>
    <hr>
    <p>&nbsp;productID {PK}
        <br>&nbsp;productName
        <br>&nbsp;price
        <br>&nbsp;availability</p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-f" class="moveable" style="left: 47.4851%; top: 62.6263%; width: 10.0209%; height: 3.82609%; opacity: 1;" spellcheck="false" data-options="predefined:Fade in;target:container-f;duration:0.5;label:relation-consist2;index:9;opacity:0">
    <p>Consist of
        <br>
    </p>
    <div id="container-h" class="moveable" style="left: 73.4985%; top: -19.5313%; width: 14.8438%; height: 120%; transform: matrix(1, 0, 0, -1, 0, 0);" data-scaley="-1">
        <img src="images/arrow-top.svg" alt="arrow-top.svg">
    </div>
</div>
<div id="container-s" class="moveable" style="left: 57.2938%; top: 59.1304%; width: 24.6347%; height: 25.5652%; opacity: 1;" data-options="predefined:Fade in;target:container-s;duration:0.5;label:relation-multi;index:10;opacity:0">
    <img src="images/multi-line-relation.svg" alt="multi-line-relation.svg">
    <div id="container-p" class="moveable" style="left: 3.80694%; top: 0.0956633%; width: 12.7119%; height: 16.3265%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>1
            <br>
        </p>
    </div>
    <div id="container-10" class="moveable" style="left: 3.38321%; top: 24.8406%; width: 12.7119%; height: 16.3265%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);">
        <p>1..*</p>
    </div>
    <div id="container-r" class="moveable" style="left: 32.1968%; top: 75.2976%; width: 13.1356%; height: 17.6871%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="duration:1;label:multi-orderitem;scale:0;index:13;ease:Elastic.easeOut;target:container-r">
        <p>0..*
            <br>
        </p>
    </div>
    <div id="container-12" class="moveable" style="left: 87.6986%; top: -0.786565%; width: 12.2881%; height: 17.0068%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-mce-style="left: 2.3019%; top: 63.3594%; width: 15.1786%; height: 32.5%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="duration:1;label:multi-product;scale:0;index:11;ease:Elastic.easeOut;target:container-12">
        <p>1
            <br>
        </p>
    </div>
</div>
<div id="container-e" class="moveable" style="left: 72.5534%; top: 78.0108%; width: 7.19875%; height: 3.78096%; opacity: 1;" spellcheck="false" data-options="predefined:Fade in;target:container-e;duration:1;label:relation-part;index:12;opacity:0">
    <p>Part
        <br>
    </p>
    <div id="container-u" class="moveable" style="left: 46%; top: -11%; width: 17.3913%; height: 164.286%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-mce-style="left: 65.8691%; top: 5.66406%; width: 5.80357%; height: 32.5%;" data-scalex="-1"><img src="images/arrow-right.svg" alt="arrow-right.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/4fffb4f6-9760-4c04-9f3a-ca00fb472007.svg"></div>
</div>
<div id="container-a" class="moveable" style="left: 50.2278%; top: 68.905%; width: 14.405%; height: 25.3913%; background-color: rgb(255, 255, 255); padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); border: 1px solid rgb(153, 153, 153);" spellcheck="false" data-options="scale:0;index:6;label:orderitem;duration:1;target:container-a;predefined:Zoom in;position:16">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">OrderItem</span></p>
    <hr>
    <p>&nbsp;itemID&nbsp;
        <br>&nbsp;quantity
        <br>&nbsp;price
        <br>
    </p>
</div>
<div id="container-t" class="moveable" style="left: 64.6741%; top: 39.6332%; width: 10.464%; height: 13.5652%; background-color: #B4E3FA; opacity: 1;" spellcheck="false" data-options="opacity:0;index:7;label:remove-relation;duration:1;target:container-t;predefined:Fade in">
    <p>
        <br>
    </p>
</div>
<div id="container-v" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-16" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/binary-relationship" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Relationship</a></span></p>
</div>
<div id="container-x" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-18" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Multiplicity</p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('entity');
tl.from('#container-7', 0.5, {scale:'0'}, '+=0');
tl.addLabel('relation-places');
tl.from('#container-c', 0.5, {left:'26%',opacity:'0',ease:'null'}, '+=0');
tl.addLabel('entity 0');
tl.from('#container-8', 0.5, {scale:'0'}, 'entity');
tl.addLabel('relation-consist1');
tl.from('#container-o', 0.5, {opacity:'0',left:'50%',ease:'null'}, '+=0');
tl.addLabel('focus-order-product');
tl.from('#container-14', 1, {scale:'0',opacity:'0',ease:'Elastic.easeOut'}, '+=0');
tl.addLabel('entity 1');
tl.from('#container-b', 0.5, {scale:'0'}, 'entity');
tl.addLabel('orderitem');
tl.from('#container-a', 1, {scale:'0'}, '16');
tl.addLabel('remove-relation');
tl.from('#container-t', 1, {opacity:'0'}, '+=0');
tl.addLabel('area');
tl.from('#container-k', 1, {opacity:'0'}, '+=0');
tl.addLabel('relation-consist2');
tl.from('#container-f', 0.5, {opacity:'0'}, '+=0');
tl.addLabel('relation-multi');
tl.from('#container-s', 0.5, {opacity:'0'}, '+=0');
tl.addLabel('multi-product');
tl.from('#container-12', 1, {scale:'0',ease:'Elastic.easeOut'}, '+=0');
tl.addLabel('relation-part');
tl.from('#container-e', 1, {opacity:'0'}, '+=0');
tl.addLabel('multi-orderitem');
tl.from('#container-r', 1, {scale:'0',ease:'Elastic.easeOut'}, '+=0');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>