<div id="container-n" class="moveable" style="left: 22.0979%; top: 6.32751%; width: 50.627%; height: 16.9713%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:-100%;index:0;label:container-n;duration:0.5;target:container-n;predefined:Fly in from top">
    <h1>What is<br></h1></div>
<div id="container-o" class="moveable" style="left: 22.2522%; top: 11.8554%; width: 63.1661%; height: 19.5822%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:-100%;index:1;label:container-o;duration:0.5;target:container-o;predefined:Fly in from top;position:-=.2">
    <h1><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Entity Relationship Modelling?</span></h1></div>
<div id="container-e" class="moveable" style="left: 62.9482%; top: 60.1053%; width: 9.1858%; height: 32%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-c" class="moveable" style="left: 44.9966%; top: 59.8278%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-b" class="moveable" style="left: 26.6262%; top: 60.1705%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-5" class="moveable" style="left: 45.0627%; top: 44.8515%; width: 9.08142%; height: 45.3913%; opacity: 1;" data-options="top:-100%;opacity:0;index:2;label:staff3;duration:0.5;ease:Expo.easeOut;target:container-5;position:2">
    <img src="images/male-sit-2.svg" alt="male-sit-2.svg">
</div>
<div id="container-7" class="moveable" style="left: 62.9384%; top: 44.1172%; width: 9.1858%; height: 49.3913%; opacity: 1;" data-options="position:-=.3;target:container-7;ease:Expo.easeOut;duration:0.5;label:staff5;index:6;opacity:0;top:-100%">
    <img src="images/male-sit-4.svg" alt="male-sit-4.svg">
</div>
<div id="container-a" class="moveable" style="left: 26.8001%; top: 44.9576%; width: 8.66388%; height: 44.6957%; opacity: 1;" data-options="target:container-a;ease:Expo.easeOut;duration:0.5;label:staff1;index:5;opacity:0;top:-100%">
    <img src="images/female-sit-1.svg" alt="female-sit-1.svg">
</div>
<div id="container-9" class="moveable" style="left: 23.8269%; top: 66.0003%; width: 52.0877%; height: 25.2174%;">
    <img src="images/desk.svg" alt="desk.svg">
</div>
<div id="container-3" class="moveable" style="left: 35.9204%; top: 56.3396%; opacity: 1; width: 9.62441%; height: 9.5176%;" data-options="">
    <img src="images/laptop2.svg" alt="laptop2.svg">
</div>
<div id="container-4" class="moveable" style="left: 36.3955%; top: 44.8597%; width: 8.97704%; height: 46.4348%; opacity: 1;" data-options="position:-=.3;target:container-4;ease:Expo.easeOut;duration:0.5;label:staff2;index:4;opacity:0;top:-100%">
    <img src="images/male-sit-1.svg" alt="male-sit-1.svg">
</div>
<div id="container-f" class="moveable el-selected" style="left: 53.4483%; top: 56.9435%; opacity: 1; width: 10.0156%; height: 9.90874%;" data-options="">
    <img src="images/laptop2.svg" alt="laptop2.svg">
</div>
<div id="container-6" class="moveable" style="left: 53.8965%; top: 43.3053%; width: 8.97704%; height: 47.8261%; opacity: 1;" data-options="top:-100%;opacity:0;index:3;label:staff4;duration:0.5;ease:Expo.easeOut;target:container-6;position:3.8">
    <img src="images/male-sit-3.svg" alt="male-sit-3.svg">
</div>
<div id="container-8" class="moveable" style="left: 53.7569%; top: 60.1012%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-d" class="moveable" style="left: 36.2363%; top: 59.889%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-g" class="moveable" style="left: 45.4619%; top: 57.225%; width: 8.45511%; height: 9.74%; opacity: 1;" data-options="">
    <img src="images/laptop1.svg" alt="laptop1.svg">
</div>
<div id="container-2" class="moveable" style="left: 63.5604%; top: 57.1842%; opacity: 1; width: 8.46%; height: 9.74%;" data-options="">
    <img src="images/laptop1.svg" alt="laptop1.svg">
</div>
<div id="container-h" class="moveable" style="left: 65.9385%; top: 31.352%; width: 6.9%; height: 12.79%; opacity: 1;" data-options="predefined:Fade in;target:container-h;duration:0.5;label:bubble5;index:11;opacity:0">
    <img src="images/bubble5.svg" alt="bubble5.svg">
</div>
<div id="container-i" class="moveable" style="left: 26.3568%; top: 31.2704%; width: 6.9%; height: 12.79%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="position:15;target:container-i;ease:null;duration:0.5;label:bubble1;index:10;opacity:0">
    <img src="images/bubble1.svg" alt="bubble1.svg">
</div>
<div id="container-j" class="moveable" style="left: 36.4126%; top: 31.352%; width: 6.9%; height: 12.79%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="position:11.5;target:container-j;ease:null;duration:0.5;label:bubble2;index:8;opacity:0">
    <img src="images/bubble2.svg" alt="bubble2.svg">
</div>
<div id="container-k" class="moveable" style="left: 46.3803%; top: 31.352%; width: 6.89655%; height: 12.7937%; opacity: 1;" data-options="opacity:0;index:7;label:bubble3;duration:0.5;ease:null;target:container-k;position:8">
    <img src="images/bubble3.svg" alt="bubble3.svg">
</div>
<div id="container-l" class="moveable" style="width: 6.9%; height: 12.79%; left: 55.7798%; top: 31.352%; opacity: 1;" data-options="predefined:Fade in;target:container-l;duration:0.5;label:bubble4;index:9;opacity:0">
    <img src="images/bubble4.svg" alt="bubble4.svg">
</div>
<div id="container-m" class="moveable lock" style="left: 5.6625%; top: 84.0405%; border-radius: 50%; background-color: rgb(244, 138, 50); padding: 2%; width: 6.68058%; height: 10.7826%;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/erm-components" title="Skip to content" data-mce-href="#/erm-components" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Skip</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('container-n');
tl.from('#container-n', 0.5, {
    opacity: '0',
    top: '-100%'
}, '+=0');
tl.addLabel('container-o');
tl.from('#container-o', 0.5, {
    opacity: '0',
    top: '-100%'
}, '-=.2');
tl.addLabel('staff3');
tl.from('#container-5', 0.5, {
    top: '-100%',
    opacity: '0',
    ease: 'Expo.easeOut'
}, '2');
tl.addLabel('staff4');
tl.from('#container-6', 0.5, {
    top: '-100%',
    opacity: '0',
    ease: 'Expo.easeOut'
}, '3.8');
tl.addLabel('staff2');
tl.from('#container-4', 0.5, {
    opacity: '0',
    top: '-100%',
    ease: 'Expo.easeOut'
}, '-=.3');
tl.addLabel('staff1');
tl.from('#container-a', 0.5, {
    opacity: '0',
    top: '-100%',
    ease: 'Expo.easeOut'
}, '+=0');
tl.addLabel('staff5');
tl.from('#container-7', 0.5, {
    opacity: '0',
    top: '-100%',
    ease: 'Expo.easeOut'
}, '-=.3');
tl.addLabel('bubble3');
tl.from('#container-k', 0.5, {
    opacity: '0',
    ease: 'null'
}, '8');
tl.addLabel('bubble2');
tl.from('#container-j', 0.5, {
    opacity: '0',
    ease: 'null'
}, '11.5');
tl.addLabel('bubble4');
tl.from('#container-l', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('bubble1');
tl.from('#container-i', 0.5, {
    opacity: '0',
    ease: 'null'
}, '15');
tl.addLabel('bubble5');
tl.from('#container-h', 0.5, {
    opacity: '0'
}, '+=0');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>
