<div id="container-t" class="moveable" style="left: 50.5138%; top: 20.0082%; width: 19.5198%; height: 9.91304%; opacity: 1; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1" data-options="position:12.5;target:container-t;ease:null;duration:0.5;label:relation2;index:6;opacity:0">
    <img src="images/relation.svg" alt="relation.svg">
</div>
<div id="container-s" class="moveable" style="left: 31.1016%; top: 19.894%; width: 19.5198%; height: 9.91304%; opacity: 1;" data-options="position:12.5;target:container-s;ease:Linear;duration:0.5;label:relation;index:7;opacity:0">
    <img src="images/relation.svg" alt="relation.svg">
</div>
<div id="container-e" class="moveable" style="left: 62.9482%; top: 60.1053%; width: 9.1858%; height: 32%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-c" class="moveable" style="left: 44.9966%; top: 59.8278%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-b" class="moveable" style="left: 26.6262%; top: 60.1705%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-5" class="moveable" style="left: 45.0627%; top: 44.8515%; width: 9.08142%; height: 45.3913%; opacity: 1;" data-options="top:-100%;opacity:0;index:2;label:staff3;duration:0.5;ease:Expo.easeOut;target:container-5;position:2">
    <img src="images/male-sit-2.svg" alt="male-sit-2.svg">
</div>
<div id="container-7" class="moveable" style="left: 62.9384%; top: 44.1172%; width: 9.1858%; height: 49.3913%; opacity: 1;" data-options="position:-=.3;target:container-7;ease:Expo.easeOut;duration:0.5;label:staff5;index:6;opacity:0;top:-100%">
    <img src="images/male-sit-4.svg" alt="male-sit-4.svg">
</div>
<div id="container-a" class="moveable" style="left: 26.8001%; top: 44.9576%; width: 8.66388%; height: 44.6957%; opacity: 1;" data-options="target:container-a;ease:Expo.easeOut;duration:0.5;label:staff1;index:5;opacity:0;top:-100%">
    <img src="images/female-sit-1.svg" alt="female-sit-1.svg">
</div>
<div id="container-9" class="moveable" style="left: 23.8269%; top: 66.0003%; width: 52.0877%; height: 25.2174%;">
    <img src="images/desk.svg" alt="desk.svg">
</div>
<div id="container-3" class="moveable" style="left: 35.9204%; top: 56.3396%; opacity: 1; width: 9.62441%; height: 9.5176%;" data-options="">
    <img src="images/laptop2.svg" alt="laptop2.svg">
</div>
<div id="container-4" class="moveable" style="left: 36.3955%; top: 44.8597%; width: 8.97704%; height: 46.4348%; opacity: 1;" data-options="position:-=.3;target:container-4;ease:Expo.easeOut;duration:0.5;label:staff2;index:4;opacity:0;top:-100%">
    <img src="images/male-sit-1.svg" alt="male-sit-1.svg">
</div>
<div id="container-f" class="moveable el-selected" style="left: 53.4483%; top: 56.9435%; opacity: 1; width: 10.0156%; height: 9.90874%;" data-options="">
    <img src="images/laptop2.svg" alt="laptop2.svg">
</div>
<div id="container-6" class="moveable" style="left: 53.8965%; top: 43.3053%; width: 8.97704%; height: 47.8261%; opacity: 1;" data-options="top:-100%;opacity:0;index:3;label:staff4;duration:0.5;ease:Expo.easeOut;target:container-6;position:3.8">
    <img src="images/male-sit-3.svg" alt="male-sit-3.svg">
</div>
<div id="container-8" class="moveable" style="left: 53.7569%; top: 60.1012%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-d" class="moveable" style="left: 36.2363%; top: 59.889%; width: 9.1858%; height: 32.1739%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-g" class="moveable" style="left: 45.4619%; top: 57.225%; width: 8.45511%; height: 9.74%; opacity: 1;" data-options="">
    <img src="images/laptop1.svg" alt="laptop1.svg">
</div>
<div id="container-2" class="moveable" style="left: 63.5604%; top: 57.1842%; opacity: 1; width: 8.46%; height: 9.74%;" data-options="">
    <img src="images/laptop1.svg" alt="laptop1.svg">
</div>
<div id="container-h" class="moveable" style="left: 65.9385%; top: 31.352%; width: 6.9%; height: 12.79%; opacity: 1;" data-options="predefined:Fade in;target:container-h;duration:0.5;label:bubble5;index:11;opacity:0">
    <img src="images/bubble5.svg" alt="bubble5.svg">
</div>
<div id="container-i" class="moveable" style="left: 26.3568%; top: 31.2704%; width: 6.9%; height: 12.79%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="position:15;target:container-i;ease:null;duration:0.5;label:bubble1;index:10;opacity:0">
    <img src="images/bubble1.svg" alt="bubble1.svg">
</div>
<div id="container-j" class="moveable" style="left: 36.4126%; top: 31.352%; width: 6.9%; height: 12.79%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="position:11.5;target:container-j;ease:null;duration:0.5;label:bubble2;index:8;opacity:0">
    <img src="images/bubble2.svg" alt="bubble2.svg">
</div>
<div id="container-k" class="moveable" style="left: 46.3803%; top: 31.352%; width: 6.89655%; height: 12.7937%; opacity: 1;" data-options="opacity:0;index:7;label:bubble3;duration:0.5;ease:null;target:container-k;position:8">
    <img src="images/bubble3.svg" alt="bubble3.svg">
</div>
<div id="container-l" class="moveable" style="width: 6.9%; height: 12.79%; left: 55.7798%; top: 31.352%; opacity: 1;" data-options="predefined:Fade in;target:container-l;duration:0.5;label:bubble4;index:9;opacity:0">
    <img src="images/bubble4.svg" alt="bubble4.svg">
</div>
<div id="container-m" class="moveable" style="width: 7.82881%; height: 13.5652%; left: 25.9835%; top: 30.3859%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="position:2.8;duration:0.5;label:check 0;scale:0;index:0;ease:null;target:container-m">
    <img src="images/check.svg" alt="check.svg">
</div>
<div id="container-n" class="moveable" style="width: 7.82881%; height: 13.5652%; left: 36.0109%; top: 30.2364%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="predefined:Zoom in;target:container-n;duration:0.5;label:check 1;index:1;scale:0">
    <img src="images/check.svg" alt="check.svg">
</div>
<div id="container-o" class="moveable" style="width: 7.82881%; height: 13.5652%; left: 46.0318%; top: 30.1413%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="predefined:Zoom in;target:container-o;duration:0.5;label:check 2;index:2;scale:0">
    <img src="images/check.svg" alt="check.svg">
</div>
<div id="container-p" class="moveable" style="width: 7.82881%; height: 13.5652%; left: 55.4263%; top: 30.0761%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="predefined:Zoom in;target:container-p;duration:0.5;label:check 3;index:3;scale:0">
    <img src="images/check.svg" alt="check.svg">
</div>
<div id="container-q" class="moveable" style="width: 7.82881%; height: 13.5652%; left: 65.6397%; top: 30.1304%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="predefined:Zoom in;target:container-q;duration:0.5;label:check;index:4;scale:0">
    <img src="images/check.svg" alt="check.svg">
</div>
<div id="container-r" class="moveable" style="left: 33.8139%; top: 5.17391%; background-color: rgb(103, 187, 229); border-radius: 50%; width: 31.524%; height: 15.6522%; padding-top: 2%; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="position:7;target:container-r;ease:null;duration:0.5;label:model;index:5;scale:0">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%; color: rgb(255, 255, 255);" data-mce-style="font-size: 150%; color: #ffffff;">Entity Relationship <br>Modelling</span></p>
</div>
<div id="container-u" class="moveable lock" style="left: 5.6625%; top: 84.0405%; border-radius: 50%; background-color: rgb(244, 138, 50); padding: 2%; width: 6.68058%; height: 10.7826%;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/erm-components" title="Skip to content" data-mce-href="#/erm-components" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Skip</a></span></p>
</div>
<div id="container-y" class="moveable" style="left: 63.5604%; top: 57.1842%; opacity: 1; width: 8.46%; height: 9.74%;">
    <img src="images/laptop1.svg" alt="laptop1.svg">
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('check 0');
tl.from('#container-m', 0.5, {
    scale: '0',
    ease: 'null'
}, '2.8');
tl.addLabel('check 1');
tl.from('#container-n', 0.5, {
    scale: '0'
}, '+=0');
tl.addLabel('check 2');
tl.from('#container-o', 0.5, {
    scale: '0'
}, '+=0');
tl.addLabel('check 3');
tl.from('#container-p', 0.5, {
    scale: '0'
}, '+=0');
tl.addLabel('check');
tl.from('#container-q', 0.5, {
    scale: '0'
}, '+=0');
tl.addLabel('model');
tl.from('#container-r', 0.5, {
    scale: '0',
    ease: 'null'
}, '7');
tl.addLabel('relation2');
tl.from('#container-t', 0.5, {
    opacity: '0',
    ease: 'null'
}, '12.5');
tl.addLabel('relation');
tl.from('#container-s', 0.5, {
    opacity: '0',
    ease: 'Linear'
}, '12.5');

interactiveApp.outAnim = null;
</script>
