<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-i" class="moveable" style="left: 37.0547%; top: 52.5978%; width: 27.7662%; height: 23.8261%;">
    <img src="images/quaternary-line-relation.svg" alt="quaternary-line-relation.svg">
</div>
<div id="container-7" class="moveable" style="left: 19.9623%; top: 30.8461%; width: 56.5831%; height: 11.4883%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right">
    <p><span style="font-size: 150%;" data-mce-style="font-size: 150%;"><strong>Quaternary Relationship</strong></span> that contains 4 entities</p>
</div>
<div id="container-e" class="moveable" style="left: 35.0485%; top: 87.4714%; width: 34.0125%; height: 9.92167%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:100%;index:1;label:container-e;duration:0.5;target:container-e;predefined:Fly in from bottom;position:7">
    <p style="text-align: center;" data-mce-style="text-align: center;">‘a solicitor arranges a bid on behalf of a buyer
        <br>supported by a financial institution’</p>
</div>
<div id="container-d" class="moveable" style="left: 44.137%;top: 43.1544%;width: 14.405%;height: 9.66%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);border: 1px solid #5e5e5e;" spellcheck="false" data-options="scale:0;index:2;label:solic;duration:1;target:container-d;predefined:Zoom in;position:15">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Solicitor</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-c" class="moveable" style="left: 44.1345%; top: 59.7789%; width: 14.2633%; height: 8.09399%; padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:3;label:arrage;duration:1;target:container-c;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: inherit;" data-mce-style="font-size: inherit;">Arranges</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-b" class="moveable" style="left: 43.9827%;top: 74.2453%;width: 14.405%;height: 9.66%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);border: 1px solid #5e5e5e;" spellcheck="false" data-options="scale:0;index:4;label:bid;duration:1;target:container-b;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Bid</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-8" class="moveable" style="left: 24.2555%;top: 59.0731%;width: 14.4201%;height: 9.66057%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);border: 1px solid #5e5e5e;" spellcheck="false" data-options="scale:0;index:5;label:buyer;duration:1;target:container-8;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Buyer</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-9" class="moveable" style="left: 63.7428%;top: 57.4484%;width: 13.3229%;height: 12.5326%;background-color: rgb(255, 255, 255);padding-top: 0.5%;opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);border: 1px solid #5e5e5e;" spellcheck="false" data-options="scale:0;index:6;label:financial;duration:1;target:container-9;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Financial Insitution</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-f" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Relationship</p>
</div>
<div id="container-h" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-j" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '+=0');
tl.addLabel('container-e');
tl.from('#container-e', 0.5, {opacity:'0',top:'100%'}, '7');
tl.addLabel('solic');
tl.from('#container-d', 1, {scale:'0'}, '15');
tl.addLabel('bid');
tl.from('#container-b', 1, {scale:'0'}, '+=0');
tl.addLabel('buyer');
tl.from('#container-8', 1, {scale:'0'}, '+=0');
tl.addLabel('financial');
tl.from('#container-9', 1, {scale:'0'}, '+=0');
tl.addLabel('arrage');
tl.from('#container-c', 0.5, {scale:'0'}, '+=0');
tl.addLabel('quat-relation');
tl.from('#container-i', 1, {scale:'0'}, '+=0');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>