<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 20.5843%; top: 30.4463%; width: 56.5831%; height: 11.4883%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right">
    <p><span style="font-size: 150%;" data-mce-style="font-size: 150%;"><strong>Recursive Relationship</strong></span> is a relationship type in which the same entity participates more than once in different roles</p>
</div>
<div id="container-e" class="moveable" style="left: 35.0485%; top: 79.7895%; width: 34.0125%; height: 9.92167%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:100%;index:1;label:container-e;duration:0.5;target:container-e;predefined:Fly in from bottom;position:7">
    <p style="text-align: center;" data-mce-style="text-align: center;">‘Staff (supervisor) supervise staff (supervisee)’</p>
</div>
<div id="container-8" class="moveable" style="left: 48.5941%;top: 61.0489%;width: 14.405%;height: 10.7826%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);border: 1px solid #5e5e5e;" spellcheck="false" data-options="scale:0;index:5;label:buyer;duration:1;target:container-8;predefined:Zoom in;position:17">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Staff</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-a" class="moveable" style="left: 57.1992%; top: 56.0245%; width: 8.03758%; height: 3.82609%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:6;label:supervisor;duration:0.5;target:container-a;predefined:Fade in">
    <p class="tooltip" title="Role name">Supervisor
        <br>
    </p>
</div>
<div id="container-c" class="moveable" style="left: 47.4883%; top: 46.8179%; width: 8.03758%; height: 3.82609%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:7;label:supervises;duration:0.5;target:container-c;predefined:Fade in">
    <p >Supervises
        <br>
    </p>
</div>
<div id="container-b" class="moveable" style="left: 40.0786%; top: 67.7228%; width: 8.03758%; height: 3.82609%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:8;label:supervisee;duration:0.5;target:container-b;predefined:Fade in">
    <p class="tooltip" title="Role name">Supervisee
        <br>
    </p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Relationship</p>
</div>
<div id="container-f" class="moveable" style="left: 44.2556%; top: 51.163%; width: 12.2129%; height: 16.8696%;">
    <img src="images/recursive-line-relation.svg" alt="recursive-line-relation.svg">
</div>
<div id="container-k" class="moveable" style="left: 45.6426%; top: 46.6163%; width: 1.5%; height: 6.26087%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/arrow-right.svg" alt="arrow-right.svg">
</div>
<div id="container-i" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-m" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-h" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '+=0');
tl.addLabel('container-e');
tl.from('#container-e', 0.5, {opacity:'0',top:'100%'}, '7');
tl.addLabel('buyer');
tl.from('#container-8', 1, {scale:'0'}, '17');
tl.addLabel('supervisor');
tl.from('#container-a', 0.5, {opacity:'0'}, '+=0');
tl.addLabel('relation');
tl.from('#container-f', 1, {opacity:'0'}, '+=0');
tl.addLabel('supervises');
tl.from('#container-c', 0.5, {opacity:'0'}, '+=0');
tl.addLabel('supervises arrow');
tl.from('#container-k', 0.5, {scale:'0'}, 'supervises');
tl.addLabel('supervisee');
tl.from('#container-b', 0.5, {opacity:'0'}, '+=0');

interactiveApp.outAnim = null;
</script>