<div id="container-2" class="moveable lock" spellcheck="false" style="width: 43.2602%; height: 19.5822%; left: 19.73%; top: 2.77823%;">
    <h1><span style="font-size: 50%;" data-mce-style="font-size: 50%;">Components of</span><br>Entity Relationship Modelling</h1></div>
<div id="container-7" class="moveable" style="left: 19.8031%; top: 30.4912%; width: 56.5762%; height: 7.82609%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:keterangan;duration:0.5;target:container-7;predefined:Fly in from right">
    <p><strong><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Tenary Relationship</span> </strong>that contains 3 entities</p>
</div>
<div id="container-8" class="moveable" style="left: 23.9469%;top: 52.3621%;width: 14.4201%;height: 9.66057%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;border: 1px solid #5e5e5e;" spellcheck="false" data-options="opacity:0;top:100%;index:2;label:container-8;duration:1;target:container-8;predefined:Fly in from bottom;position:10">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Staff</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-9" class="moveable" style="left: 63.9516%;top: 52.6875%;width: 14.405%;height: 9.66%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;border: 1px solid #5e5e5e;" spellcheck="false" data-options="opacity:0;top:100%;index:5;label:container-9;duration:1;target:container-9;predefined:Fly in from bottom">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;">Branch</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-b" class="moveable" style="left: 44.4529%;top: 67.2487%;width: 14.405%;height: 9.66%;background-color: rgb(255, 255, 255);padding-top: 1.5%;opacity: 1;border: 1px solid #5e5e5e;" spellcheck="false" data-options="opacity:0;top:100%;index:4;label:container-b;duration:1;target:container-b;predefined:Fly in from bottom">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Customer</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-h" class="moveable" style="left: 38.5161%; top: 50.3043%; width: 25.5741%; height: 21.913%;">
    <img src="images/tenary-line-relation.svg" alt="tenary-line-relation.svg">
</div>
<div id="container-c" class="moveable" style="left: 44.5035%; top: 52.3207%; width: 14.405%; height: 9.21739%; padding-top: 1.5%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:3;label:regis;duration:1;target:container-c;predefined:Zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%;" data-mce-style="font-size: 150%;" mce-data-marked="1">Registers</span></p>
    <p style="text-align: center;" data-mce-style="text-align: center;">
        <br>
    </p>
</div>
<div id="container-e" class="moveable" style="left: 35.362%; top: 84.4484%; width: 34.0125%; height: 9.92167%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:100%;index:1;label:container-e;duration:0.5;target:container-e;predefined:Fly in from bottom;position:7">
    <p style="text-align: center;" data-mce-style="text-align: center;">‘Staff registers a client at a branch’</p>
</div>
<div id="container-i" class="moveable lock" style="left: 5.49814%; top: 42.0625%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(37, 217, 218); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;">Relationship</p>
</div>
<div id="container-g" class="moveable lock" style="left: 5.49814%; top: 30.4103%; width: 12.53%; height: 7.8329%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/entity" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Entity</a></span></p>
</div>
<div id="container-f" class="moveable lock" style="left: 5.49814%; top: 53.6522%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/attributes" data-mce-href="#" data-mce-style="color: #ffffff;" style="color: rgb(255, 255, 255);">Attributes</a></span>
        <br>
    </p>
</div>
<div id="container-k" class="moveable lock" style="left: 5.49814%; top: 65.4375%; width: 12.5261%; height: 7.82609%; padding: 1%; background-color: rgb(1, 142, 213); transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 10px;" spellcheck="false">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;"><a href="#/multiplicity-types" data-mce-href="#" style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Multiplicity</a></span></p>
</div>
<script>
var tl = new TimelineLite();
tl.addLabel('keterangan');
tl.from('#container-7', 0.5, {opacity:'0',left:'100%'}, '+=0');
tl.addLabel('container-e');
tl.from('#container-e', 0.5, {opacity:'0',top:'100%'}, '7');
tl.addLabel('container-8');
tl.from('#container-8', 1, {opacity:'0',top:'100%'}, '10');
tl.addLabel('container-9');
tl.from('#container-9', 1, {opacity:'0',top:'100%'}, '+=0');
tl.addLabel('container-b');
tl.from('#container-b', 1, {opacity:'0',top:'100%'}, '+=0');
tl.addLabel('regis');
tl.from('#container-c', 0.5, {scale:'0'}, '+=0');
tl.addLabel('tenary-relation');
tl.from('#container-h', 1, {opacity:'0'}, '+=0');

interactiveApp.outAnim = null;
interactiveApp.timeline = tl;
</script>